.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.Palette{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;

}
.Palette button{
  margin-top: 5px;
  border-radius: 5px;
  width: 50px;
}
